[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "jsoncons"]
	path = jsoncons
	url = https://github.com/danielaparker/jsoncons.git
