CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.o
*.pc
src/*o
FriendlyCDB
test
bin/
rapidjson/test/unittest/
build/
settings.json
lib/
rapidjson/test/
rapidjson/CMakeFiles
rapidjson/CMakeCache
rapidjson/cmake_install.cmake
rapidjson/CMakeCache.txt
googletest/CMakeFiles
googletest/CMakeCache
googletest/cmake_install.cmake
googletest/CMakeCache.txt

